.inputMessage {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.chatBox{
  overflow-y: scroll;
  margin : 0;
  /*border-bottom: none;*/
}

.chatInput{
  margin-bottom: 10px;
  margin-left: 2.5rem;
}

.tabs{
	overflow: hidden;
}

.resized-navbar{
	height: 48px;
}