<div class="navbar-fixed">
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a [routerLink]="['/']" class="brand-logo center">{{logo_name}}</a>
        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent tabs-fixed-width ttabs">
                <li class="tab col s3"><a [routerLink] = "['/main']" class="ttabs-1">main</a></li>
                <li class="tab col s3"><a [routerLink] = "['/share']" class="ttabs-2">share</a></li>
                <li class="tab col s3"><a [routerLink] = "['/talk']" class="ttabs-3">talk</a></li>
            </ul></div>
    </nav>
</div>
<!-- //nav -->
<ul class="tabs tabs-transparent tabs-fixed-width red lighten-2 ttabs-hide">
    <li class="tab col s3"><a href="#ttabs-1" class="ttabs-1-hide">main</a></li>
    <li class="tab col s3"><a href="#ttabs-2" class="ttabs-2-hide">share</a></li>
    <li class="tab col s3"><a href="#ttabs-3" class="ttabs-3-hide">talk</a></li>
</ul>
<div id="ttabs-1-hide" style="display:none"></div>
<div id="ttabs-2-hide" style="display:none"></div>
<div id="ttabs-3-hide" style="display:none"></div>
<tab1></tab1>
<tab2></tab2>
<tab3></tab3>

<!-- <input id="authKey" value=${authKey} readonly style="display:none;">       -->
<!-- <router-outlet></router-outlet> -->