<div id="ttabs-1" class="col s12 white">
  <div class="carousel carousel-slider center" data-indicators="true">
    <a class="carousel-item"><img src="tabs.child('0/carousel/0/img').val()" ></a>
    <a class="carousel-item"><img src="tabs.child('0/carousel/1/img').val()" ></a>
    <a class="carousel-item"><img src="tabs.child('0/carousel/2/img').val()" ></a>
  </div>
  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" src="tabs.child('0/card/0/img').val()" style="height:400px">
          <span class="card-title">tabs.child('0/card/0/title').val()</span>
        </div>
        <div class="card-content">
          <p>tabs.child('0/card/0/content').val()</p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" src="tabs.child('0/card/2/img').val()" style="height:400px">
          <span class="card-title">tabs.child('0/card/2/title').val()</span>
        </div>
        <div class="card-content">
          <p>tabs.child('0/card/2/content').val()</p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" src="tabs.child('0/card/1/img').val()" style="height:400px">
          <span class="card-title">tabs.child('0/card/1/title').val()</span>
        </div>
        <div class="card-content">
          <p>tabs.child('0/card/1/content').val()</p>
        </div>
      </div>
    </div>
  </div>
  <div id="logoutModal" class="modal">
    <div class="modal-content center">
      <h4 style="color:transparent">로그아웃</h4>
      <p>현재 로그인중입니다. 로그아웃 하시겠습니까?</p>
    </div>
    <div class="modal-footer">
      <a href="javascript:logout();" class="modal-action modal-close waves-effect waves-green btn-flat">로그아웃</a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">닫기</a>
    </div>
  </div>
  <div class="fixed-action-btn horizontal click-to-toggle floatBtn">
    <a class="btn-floating btn-large waves-effect red lighten-1 floatBtnIcon pulse">
            <i class="material-icons large" style="font-size:30px;">menu</i>
        </a>
    <ul>
      <li><a class="btn-floating red pulse talkIcon" href="javascript:changeTab('ttabs-3')"><i class="material-icons">textsms</i></a></li>
      <li><a id="custom-login-btn" class="btn-floating yellow darken-1" href="javascript:isLogin()"><img style="width:100%" src="https://firebasestorage.googleapis.com/v0/b/kcfr-9cfc3.appspot.com/o/kakao%2Fkakaolink_btn_medium.png?alt=media&token=6da2f8e2-8a42-405e-9b1b-dd54e04c4c74"></a></li>
      <li><a class="btn-floating blue" href="javascript:sendKakaoLink()"><i class="material-icons">send</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">info</i></a></li>
    </ul>
  </div>
</div>
