<div id="ttabs-2" class="col s12 white">
    <div class="row shareBox">

        <div class="col s12 m4">
            <div class="card">
                <div class="card-image slider">
                    <ul class="slides">
                        <li>
                            <img src="tabs.child('0/carousel/0/img').val()">
                        </li>
                        <li>
                            <img src="tabs.child('0/carousel/1/img').val()">
                        </li>
                        <li>
                            <img src="tabs.child('0/carousel/2/img').val()">
                        </li>
                    </ul>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col s10">
                            <span class="card-title activator grey-text text-darken-4">Card Title</span>
                        </div>
                        <div class="col s2">
                            <a class="btn-floating waves-effect waves-light dropdown-button red lighten-2" data-activates='shareBoxDropDown'><i class="material-icons">more_vert</i></a>
                            <ul id='shareBoxDropDown' class='dropdown-content'>
                                <li><a href="#cardEditModal" class="waves-effect waves-green modal-trigger">수정</a></li>
                                <li><a href="#cardDeleteModal" class="waves-effect waves-green modal-trigger">삭제</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
                <div class="card-action cardLine" style="padding:3px"></div>
                <div class="container chipBox">
                    <div class="chip price">
                        #5000
                    </div>
                    <div class="chip contact">
                        #관리자
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light lighten-2 modal-trigger" href="#addCardModal">
                        <i class="large material-icons">add</i>
                    </a>
    </div>
    <div id="addCardModal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h5>카드 추가</h5>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="title" type="text" class="validate" name="title" maxlength="20">
                            <label for="title">물품명</label>
                        </div>
                        <div class="input-field col s4">
                            <select>
                                <option value="" disabled selected>선택</option>
                                <option value="1">연락처</option>
                                <option value="2">카카오톡 아이디</option>
                            </select>
                            <label>연락 수단</label>
                        </div>
                        <div class="input-field col s8">
                            <input id="contact" type="text" class="validate" name="title">
                            <label for="contact">*연락처는 공개됨에 주의*</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="price" type="number" class="validate" name="price" step="1000" max="30000">
                            <label for="price">가격(무료~3만원 이내 상품)</label>
                        </div>
                        <div class="input-field col s12">
                            <textarea id="description" class="materialize-textarea"></textarea>
                            <label for="description">상세 설명</label>
                        </div>
                    </div>
                </form>
                <div class="file-field input-field col s12">
                    <div class="btn">
                        <span>File</span>
                        <input type="file" class="shareUploadImg1">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="사진 업로드">
                    </div>
                </div>
                <div class="file-field input-field col s12">
                    <div class="btn">
                        <span>File</span>
                        <input type="file" class="shareUploadImg2">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="사진 업로드">
                    </div>
                </div>
                <div class="file-field input-field col s12">
                    <div class="btn">
                        <span>File</span>
                        <input type="file" class="shareUploadImg3">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="사진 업로드">
                    </div>
                </div>
                <div class="file-field input-field col s12">
                    <div class="btn">
                        <span>File</span>
                        <input type="file" class="shareUploadImg4">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="사진 업로드">
                    </div>
                </div>
                <div class="file-field input-field col s12">
                    <div class="btn">
                        <span>File</span>
                        <input type="file" class="shareUploadImg5">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="사진 업로드">
                    </div>
                </div>
            </div>
            <div class="row">
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">CANCEL</a>
        </div>
    </div>
    <!-- addCardModal -->
    <div id="cardEditModal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h5>카드 수정</h5>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="title" type="text" class="validate" name="title" maxlength="20">
                            <label for="title">물품명</label>
                        </div>
                        <div class="input-field col s4">
                            <select>
                                <option value="" disabled selected>선택</option>
                                <option value="1">연락처</option>
                                <option value="2">카카오톡 아이디</option>
                            </select>
                            <label>연락 수단</label>
                        </div>
                        <div class="input-field col s8">
                            <input id="contact" type="text" class="validate" name="title">
                            <label for="contact">*연락처는 공개됨에 주의*</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="price" type="number" class="validate" name="price" step="1000" max="30000">
                            <label for="price">가격(무료~3만원 이내 상품)</label>
                        </div>
                        <div class="input-field col s12">
                            <textarea id="description" class="materialize-textarea"></textarea>
                            <label for="description">상세 설명</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="file-field input-field col s12">
                    <div class="btn">
                        <span>File</span>
                        <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="사진 업로드">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat modal-trigger">OK</a>
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">CANCEL</a>
        </div>
    </div>
    <!-- cardEditModal -->
    <div id="cardDeleteModal" class="modal">
        <div class="modal-content">
            <h5>카드 삭제</h5>
            <p>삭제하시겠습니까?</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
            <a class="modal-action modal-close waves-effect waves-green btn-flat">CANCLE</a>
        </div>
    </div>
    <!-- cardDeleteModal -->
</div>